.food-name{
    font-family: "Times New Roman", "Helvetica" sans-serif;
    color:blueviolet;
    background-color:yellow;
    font-weight:bold;

}

.headers{
    color:blue;
    font-family: "Times New Roman", "Helvetica" sans-serif;
}